<?xml version="1.0"?>

<!--
/**
 * Xtendable_UniqueTotal
 *
 * @see README.md
 *
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Paypal\Model\Cart">
        <plugin name="update_paypal_fee_order" type="Xtendable\UniqueTotal\Plugin\UpdateFeeForOrder"/>
    </type>
    <type name="Magento\Paypal\Model\Api\Nvp">
        <plugin name="log_paypal_nvp_request" type="Xtendable\UniqueTotal\Plugin\LogPayPalNVPRequest"/>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="additional_provider" xsi:type="object">Xtendable\UniqueTotal\Model\Config\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="set.title.unique.amount" type="Xtendable\UniqueTotal\Plugin\LayoutProcessor" sortOrder="10"/>
    </type>
</config>